.col-md-6 {
    border: 3px dotted #000;
    border-style: dotted dashed solid double;
    font-family: 'Cinzel', serif;
}

.container {
    background-color:indianred;
    height:100%;
}

#kobe {
    height:200px;
    width:200px;
    display:none;
}

#steph{
    display:none;
}